<h1>About this app</h1>
<p>
  This app visulizes the median household income of California according to geographic
  location where census tract data is available. The project was inspired from both my
  politics and computer science assignments in school. The code behind this project is currently available
  to view and edit on my <a href="https://github.com/thebradbain/census-income-map">GitHub</a>.
</p>
<br>
<p>
  Technologies this visualization is built upon are <a href="https://vuejs.org/">Vue.js</a> for the frontend,
  <a href="http://sailsjs.com/">Sails.js</a> for the backend, <a href="https://gruntjs.com/">Grunt</a> for packaging and distribution, and <a href="https://www.postgresql.org/">Postgres</a>
  and <a href="https://redis.io/">Redis</a> for the database and census query upload service, respectively.
</p>
<h1>About me</h1>
<p>
  I'm a current sophomore at Pomona College who is currently looking for a summer internship
  for 2018. Feel free to get in touch with me by visiting my website at <a href="http://bradbain.com">bradbain.com</a>
  or email me directly at brad_bain[at]live.com!
</p>
