<h1>Other Work</h1>
<p>
  More of my work, including <a href="https://github.com/thebradbain/snapception">Snapception</a>, a proof-of-concept
  which exposed a potentital security-exploit (now fixed) with Snapchat, can be explored on
  my <a href="https://github.com/thebradbain/">GitHub</a> and my personal website,
  <a href="http://bradbain.com">bradbain.com</a>.
</p>
<br>
<p>
  I'm a current sophomore at Pomona College who is currently looking for a summer internship
  for 2018. Feel free to get in touch with me by emailing me directly at brad_bain[at]live.com!
</p>
